
.app-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app-content {
  flex: 1;
  padding-bottom: 2rem;
}

/* NavBar */

.navBar{
    padding: 10px;
    max-width: 100%;
    height: 45px;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    
}
.navbarAppHeader{
    font-size: 28px;
    font-family: "Sour Gummy",sans-serif;
    color: #014d57;
}
.navbarHr{
    margin-top: 1rem;
    width: 45%;
    border: none;
    border-top: 1px solid #2a2a2a;
}
.navbarHrDiv{
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
}
.navBarRight{
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    margin-right: 2rem;
}
.navbarCartDiv{
    display: flex;
    align-items: center;
    margin-right: 1rem;
}
.navbarCart{
    margin-right: 5px;
    font-size: 20px;
    color: #5f5f5f;
}
.navbarCartDiv:hover{
    .navbarCart{
        color: #00798A;
    }
}
.navbarProfileDiv{
    display: flex;
    align-items: center;
    margin-right: 1rem;
}
.navbarProfile{
    margin-right: 2px;
    font-size: 20px;
    color: #5f5f5f;
}
.navbarProfileDiv:hover{
    .navbarProfile{
        color: #00798A;
    }
    
}
.navbarFavDiv{
    display: flex;
    align-items: center;
    margin-right: 1rem;
}
.navbarFav{
    margin-right: 3px;
    font-size: 18px;
    color: #5f5f5f;
}
.navbarFavDiv:hover{
    .navbarFav{
        color: #00798A;
    }
}

.navBarLinks{
    text-decoration: none;
    color: #5f5f5f;
    margin: 5px;  
    margin-right: 5px;
    font-weight: 500;  
    font-size: 18px;
}
.navBarLinks:hover{
    color: #00798A;
}

.navBarLeft{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:flex-start;
}
.navbarLogo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
}
.navbarLogoSpan{
    color:#014d57;
    font-weight: 500;
    font-family: "Damion" , sans-serif;
    font-size: 28px;
    cursor: pointer;
}
.navbarLogOut{
    font-size: 18px;
}



/* SearchBar */

.searchBarDiv{
    border: 1px solid #5f5f5f;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 5rem;
}
.searchBarDiv:hover{
    border: 1.5px solid #00798A;
    .searchBarIcon{
        color: #00798A;
    }
}
.searchBarInput{
    width: 500px;
    height: 20px;
    border: none;
    outline: none;
    background-color: transparent;
    margin: 5px;
    color: black;
    font-weight: 500; 
    font-family: "Funnel Display",sans-serif; 
    font-size: 16px; 
}
.searchBarIcon{
    font-size: 20px;
    padding: 5px;
    margin-right: 5px;
    margin-top: 2px;
    color: #5f5f5f;
}

/* HomePage */

.homeSloganDiv{
    padding-left: 5px;
    max-width: 600px;
}
.homeSlogan{
    font-weight: 400;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px;
    opacity: 0;
    cursor: pointer;
}
.homeSlogan:hover{
    color: #2a2a2a;
}

.homeLocationDiv{
    margin-left: 3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 400px;
}
.homeLocationIcon{
    font-size: 16px;
    padding:3px;
    color: #026471;
}

.homeLocationSpan{
    font-weight: 500;
    color: #00798A;
    padding: 2px;
}
.homeLocationButton{
    display: flex;
    padding: 5px;
    flex-direction: row;
    align-items: center;
    border-radius: 10px;
    background-color: #F2F9F9;
    cursor:pointer;
}
.homeLocationButton:hover{
    .homeLocationSpan{
        color: #025965;
    }
    .homeLocationIcon{
        color: #014d57;;
    }
}
.homeCatDiv{
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
}
.homeCatSliderDiv{
    margin-top: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.homeCatHeader{
    text-decoration: none;
    color: #000000;
    font-size: 26px;
    font-weight: 500;
    font-family:"Sour Gummy" , sans-serif;
}
.homeCatHeader:hover{
    color: #00798A;
}
.catSliderSpan{
    font-size: 14px;
    color: #5f5f5f;
}
.catSliderSpanDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}
.catSliderSpanDiv:hover{
    .catSliderSpan{
        color: #014d57;
    }
    .catSliderIcon{
        color: #014d57;
    }
}
.catSliderIcon{
    font-size: 16px;
    color: #5f5f5f;
}
.homeEventsDiv{
    margin-top: 2rem;
}


/* Footer */

.footerDiv{
    /* margin-top: 2rem; */
    display: flex;
    width: 100%;
    height: 200px;
    background-color: #212121;
    color: #ffffff;
}
.footerMainDiv{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding: 1rem;
}
.footerGitLink{
    text-decoration: none;
    color: #fff;
}
.footerGitLink:hover{
    color:#047e8e
}
.footerGitDiv{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.footerInfoDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.footerAppName{
    font-size: 16px;
    font-family: "Funnel Display",sans-serif;
    margin-bottom: 1rem;
}
.footerInfoSpan{
    font-size: 14px;
    font-family: "Funnel Display",sans-serif;
    margin-bottom: 1rem;
}
/* LoginPage */


.loginPage{
    background-color:#F2F2F2;;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin-top: 5rem;
}
.loginMainDiv{
    background-color: #F2F2F2;
    height: 800px;
    width: 100%;
    border:none;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    display: flex;
    flex-direction: row;
    padding: 14px;
    border-radius: 10px;
}

.loginDiv{
    padding: 1rem;
}

.loginSlogan{
    width: 140px;
    height: 50px;
}
.logoImg{
    width: 100%;
    height: 780px;
    object-fit: cover;
    border-radius: 6px;
}
.loginRightSide{
    padding: 1rem;
    height: 100%;
}
.loginSloganDiv{
    width: 240px;
    height: 80px;
    padding: 1rem;
}
.logoDiv{
    display: flex;
    align-items: center;
    margin-right: 2rem;
}

.loginLogo{
    width: 40px;
    height: 40px;
    background-image: url("../../images/mHarfi.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Login */

.loginComDiv{
    padding: 10px;
    font-weight: 500;
}

.emailDiv{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
}
.passwordDiv{
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    font-size: 16px;
}
.registerInputDiv{
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
}
.loginInput{
    border: 1px solid lightgray;
    height: 32px;
    padding-left: 10px;
    border-radius: 8px;
    outline : none;
    cursor : text;
    font-size: 14px;
    line-height: 20px;
    width: 240px;
}
.loginButton{
    margin-top: 1rem;
    text-decoration: none;
    width: 100%;
    background-color: #00798A;
    border: none;
    cursor: pointer;
    text-align: center;
    font-size: 14px;    
    font-weight: 500;
    font-family: "Funnel Display" , sans-serif;
    height: 32px;
    border-radius: 8px;
    color: #ffffff;
}
.loginButton:hover{
    background-color: #028b9d;
}
.loginButtonDiv{
    display: flex;
    align-items: center;
    padding:  0 0 20 20px;
}
.loginLinksDiv{
    padding: 5px;
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}
.loginLinks{
    text-decoration: none;
    color: #000000;
    font-weight: 500;
}
.loginLinks:hover{
    color: #015c68;
}

.loginHrDiv{
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
}

.loginHr{
    width: 45%;
    border: none;
    border-top: 1px solid #2a2a2a;
}

.registerError{
    color: #e64e41;
    font-size: 12px;
    line-height: 14px;
    max-width: 250px;
    margin-top: 4px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
   }
.serverAlert{
    width: fit-content;
    display: flex;
    align-items: center;
    background-color: #f9d6d3;
    padding: 6px;
    font-size: 14px;
    color: #000000;
    border-radius: 6px;
    line-height: 18px;
    margin-bottom: 20px;
}


/* Event Cards */



.homeEventCardsDiv{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.eventCardDiv{
    cursor: pointer;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    max-width: 520px;
    height: 240px;
    margin-left: 1.5rem;
    margin-top: 3rem;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
.eventCardDiv:hover{
   box-shadow: rgba(14, 100, 137, 0.341) 0px 4px 6px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
.eventCardTextDiv{
    height: 240px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.eventCardHeader{
    margin: 5px;
    font-size: 20px;
    font-family: "Sour Gummy",sans-serif;
    color: #014750;
}
.eventCardDesc{
    font-size: 14px;
    font-weight: 500;
    font-family: "Funnel Display" , sans-serif;
    color: #212121;
}
.eventCardTime{
    color: #5f5f5f;
    font-size: 14px;
    margin-left: 5px;
}
.eventCardTimeIcon{
    width: 12px;
    height: 12px;
    color: #014750;

}


/* banner */
.bannerTextDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.bannerHeader{
    font-size: 48px;
    font-family: "Sour Gummy",sans-serif;
    color: #014d57;
}

.bannerSpan{
    font-size: 18px;
    font-family: "Funnel Display",sans-serif;
    font-weight: 400;
    line-height: 2rem;
}
.bannerButton{
    margin-top: 2rem;
    text-decoration: none;
    width: 150px;
    height: 90px;
    background-color: #00798A;
    border: none;
    cursor: pointer;
    text-align: center;
    font-size: 14px;    
    font-weight: 500;
    font-family: "Funnel Display" , sans-serif;
    height: 32px;
    border-radius: 8px;
    color: #ffffff;
}
.bannerButton:hover{
    background-color: #028b9d;
}   


/* Event Detail */
.eventDetailMainDiv{
    display: flex;
    justify-content: center;
}
.eventDetailDiv{
    width: fit-content;
    padding: 2rem;
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
.eventDetailEventName{
    font-size: 30px;
    font-weight: 500;
    font-family: "Funnel Display",sans-serif;
}
.eventDetailLocationDiv{
    display: flex;
    align-items: center;
    margin-top: 1rem;
}
.eventDetailLocationSpan{
    margin-left: 4px;
    margin-right: 1rem;
    font-size: 14px;
    font-family: "Funnel Display",sans-serif;
}
.eventDetailDateSpanHead{
    margin-left: 4px;
    font-size: 14px;
    font-family: "Funnel Display",sans-serif;
}
.eventDetailImageDiv{
    max-width: fit-content;
    height: 360px;
    border-radius: 12px;
    margin-top: 1rem;
}
.eventDetailImage{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
}
.eventDetailDescDiv{
    max-width: 1250px;
    margin-top: 1rem;
}
.eventDetailDescHeader{
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 1rem;
    font-family: "Funnel Display",sans-serif;
}
.eventDetailDescSpan{
    font-size: 16px;
    font-family: "Funnel Display" , sans-serif;
    line-height: 2rem;
    color: #2a2a2a;
}
.eventDetailDateDiv{
    display: flex;
    flex-direction: column;
    max-width: 1250px;
    margin-top: 1rem;
}
.eventDetailDateSpan{
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 1rem;
}
.eventDetailRuleDiv{
    max-width: 1250px;
    margin-top: 1rem;
}
.eventDetailRuleHeader{
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 2rem;
}
.eventDetailRule{
    font-size: 16px;
    font-family: "Funnel Display" , sans-serif;
    line-height: 2rem;
    color: #2a2a2a;
}

/* Ticket */
.ticketMainDiv{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    min-width: 600px;
    height: 60px;
    border: 1px solid lightgray;
    border-radius: 8px;
    margin: 1rem;
    text-overflow: hidden;
}
.ticketMainDiv:hover{
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
.ticketInnerDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80px;
    background-color: #014750;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}
.ticketInnerSpan{
    color: #F2F9F9;
    font-size: 12px;
}
.ticketHeaderDiv{
    padding: 4px;
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
    height: 60px;
    max-width: fit-content;
    overflow: hidden;
    text-overflow: ellipsis;
    
}
.ticketHeader{
    font-size: 20px;
    font-weight: 500;
    font-family: "Funnel Display" , sans-serif;
    color: #015c68;
}

.ticketHourDiv{
    display: flex;
    align-items: center;
}
.ticketHour{
    margin-left: 2px;
    font-size: 16px;
    color:#5f5f5f;
}
.ticketOnSaleDiv{
    margin: 8px 4px 4px 1rem; /*top-right-bottom-left*/
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 20px;
    background-color: #1BAB1E;
    color: #ffff;
    border-radius: 12px;
}
.ticketOnSale{
    font-size: 12px;
    font-family: monospace,sans-serif;
}
.ticketLocation{
    font-size: 16px;
    margin-left: 1rem;
    color:#5f5f5f;
}
.addCartDiv{
    margin-left: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: fit-content;
    padding: 8px;
}


/* EventPage eventsByCat*/

.categoryEventCardsDiv{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
}
.selectMainDiv{
    display: flex;
    flex-direction: row;
    padding: 5px;
    justify-content: space-between;
}
.selectMiddleDiv{
    display: flex;
    flex-direction: row;
}
.selectInnerDiv{
    margin-left: 2rem;
}

/* CartPage */

.cartMainDiv{
    display: flex;
    justify-content: center;
}
.cartMainDetailDiv{
    width: 2500px;
    min-height: 900px;
    padding: 2rem;
    margin-top: 5rem;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.cartHeaderDiv{
    height: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 1rem;
}
.cartHeader{
    font-family: "Funnel Display",sans-serif;
    color: #212121;
    font-size: 30px;
    font-weight: 500;   
}
.cartHeaderIcon{
    font-size: 20px;
    margin-right: 5px;
    margin-top: 5px;;
   
}
.cartEventLengthSpan{
   font-family: "Funnel Display",sans-serif;
   font-size: 14px;
    margin-top: 8px;
    margin-left: 8px;
     color: #5f5f5f;
}
.cartEventDiv{
    max-width: 980px;
    position: relative;
    color: #212121;
    padding: 8px;
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
.cartEventDiv:hover{
    box-shadow: rgba(14, 100, 137, 0.341) 0px 4px 6px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
.cartEventImageDiv{
    width: 300px;
    height: 150px;
    border-radius: 12px;
}
.cartEventInfoDiv{
    max-width: 600px;
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
}
.cartEventLocationDiv{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 1rem;
}
.cartLocationSpan{
    margin-left: 6px;
    margin-right: 2rem;
    font-size: 16px;
    font-family: "Funnel Display" , sans-serif;
    color: #014d57;
}
.cartDateSpan{
    margin-left: 6px;
    font-size: 16px;
    font-family: "Funnel Display" , sans-serif;
}

.cartEventName{
    font-size: 24px;
    font-family: "Funnel Display" , sans-serif;
    font-weight: 400;
}

.cartEventPayHeaderDiv{
    height: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end; 
}
.cartEventPayHeader{
    font-size: 24px;
    font-family: "Funnel Display" , sans-serif;
    font-weight: 500;  
}
.cartEventPriceDiv{
    margin-top: 2rem;
    display: flex;
    align-items: flex-start;
}
.cartEventPriceSpan{
    margin-left: 8px;
    font-size: 20px;
    font-family: "Funnel Display" , sans-serif;
    font-weight: 600;  
}
.cartEventPriceText{
    font-size: 20px;
    font-family: "Funnel Display" , sans-serif;
    font-weight: 600;  
}
.cartEventDeleteButton{
    text-decoration: none;
    border: none;
    position: absolute;
    top: 0;
    right: 0;
    padding: 7px;
    cursor: pointer;
}
.deleteButton{
    font-size: 24px;
    color: #212121;
}
.cartEventDeleteButton:hover{
    .deleteButton{
        color: #b23024;
    }
}
.cartEventPayMainDiv{
    margin-left: 1rem;
    color: #212121;
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 400px;
    min-height: 420px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border-radius: 4px;
}
.cartEventPayUpDiv{
    position: absolute;
    border-radius: 4px;
    margin: 0;
    top: 0;
    width: 100%;
    height: 25px;
    /* background: linear-gradient(98.6deg, #026CDF -23.51%, #7F6BF4 86.87%); */
    background: linear-gradient(98.6deg, #014d57 -23.51%, #038495 86.87%);
}
.cartEventPayUpDotDiv{
    top: 0;
    position: absolute;
    border-bottom: 10px dotted #ffffff;
    width: 100%;
    height: 20px;
}
.cartEventBuyButton{
    margin-top: 2rem;
    text-decoration: none;
    width: 100%;
    background-color: #00798A;
    border: none;
    cursor: pointer;
    text-align: center;
    font-size: 16px;    
    font-weight: 500;
    font-family: "Funnel Display" , sans-serif;
    height: 38px;
    border-radius: 6px;
    color: #ffffff;
}
.cartEventBuyButton:hover{
    background-color: #028b9d;
}
.cartEventContinueButton{
    margin-top: 8px;
    text-decoration: none;
    width: 100%;
    color:#0e8292;
    border: 1px solid #0d555e;
    cursor: pointer;
    text-align: center;
    font-size: 16px;    
    font-weight: 500;
    font-family: "Funnel Display" , sans-serif;
    height: 38px;
    border-radius: 6px;
}
.cartEventContinueButton:hover{
    border: 2px solid #0d555e;
}
.cartEventBuySummary{
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    border-radius: 8px;
}


/* Responsive */

@media screen and (max-width:480px){
    .loginInput{
        width: 120px;
        font-size: 12px;
        line-height: 0px;
    }
    .loginLabels{
        width: 120px;
    }
    .loginLogo{
        display: none;
    }
}

@media screen and (max-width:600px){
    .loginInput{
        width: 160px;
        font-size: 12px;
        line-height: 0px;
    }
    .loginLogo{
        display: none;
    }
}

@media screen and (max-width:750px){
    .searchBarInput{
        width: 80px;
    }
}

@media screen and (max-width:1000px){
    .searchBarInput{
        width: 250px;
    }
}




/* Swiper Slider */


.homeSloganSlider {
    width: 800px;
    height: 400px;
}

.homeCatSlider{
    width: 100%;
    height: 80px;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  

    display: flex;
    justify-content: center;
    align-items: center;
}
  
.swiper-slide {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: fill;
}
.imgContainerDiv{
    width: 800px;
    height: 300px;
}
.imgSliderDiv{
    display: flex;
    flex-direction: column;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
.imgSliderHeader{
    text-decoration: none;
    color: #015c68;
    font-size: 20px;
    font-family: "Sour Gummy",sans-serif;   
}
.imgSliderDesc{
    color: #2a2a2a;
    margin-top: 4px;
    font-size: 16px;
    font-family: "Funnel Display",sans-serif;
}

.imgSliderTextDiv{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 5px;
    flex-direction: column;
}


.swiper-button-prev-custom,.swiper-button-next-custom{
    border: none;
    height: 30px;
    cursor: pointer;
    color: #00798A;
}


.buyCancelButton{
    margin-top: 2rem;
    text-decoration: none;
    width: 120px;
    height: 90px;
    background-color:#b23024;
    border: none;
    cursor: pointer;
    text-align: center;
    font-size: 14px;    
    font-weight: 500;
    font-family: "Funnel Display" , sans-serif;
    height: 32px;
    border-radius: 8px;
    color: #ffffff;
}
.buyCancelButton:hover{
    background-color: rgba(192, 8, 4, 0.843)
}

.adminDeleteButton{
    text-decoration: none;
    width: 120px;
    height: 90px;
    background-color:#b23024;
    border: none;
    cursor: pointer;
    text-align: center;
    font-size: 14px;    
    font-weight: 500;
    font-family: "Funnel Display" , sans-serif;
    height: 32px;
    border-radius: 6px;
    color: #ffffff;
}

.adminDeleteButton:hover{
    background-color: rgba(192, 8, 4, 0.843)
}

.adminEditButton{
    text-decoration: none;
    width: 120px;
    height: 90px;
    background-color:#014d57;
    border: none;
    cursor: pointer;
    text-align: center;
    font-size: 14px;    
    font-weight: 500;
    font-family: "Funnel Display" , sans-serif;
    height: 32px;
    border-radius: 6px;
    color: #ffffff;
}

.adminEditButton:hover{
    background-color: #026674;
}

.adminAddEventButton{
    padding: 8px;
    display: flex;
    align-items: center;
    text-decoration: none;
    width: 240px;
    height: 80px;
    background-color:#1aa21c;
    border: none;
    cursor: pointer;
    text-align: center;
    font-size: 16px;    
    font-weight: 500;
    font-family: "Funnel Display" , sans-serif;
    height: 32px;
    border-radius: 6px;
    color: #ffffff;
}

.adminAddEventButton:hover{
    background-color:#106b11;
}

input::file-selector-button {
  font-weight: bold;
  color: dodgerblue;
  padding: 0.5em;
  border: thin solid grey;
  border-radius: 3px;
}
input::file-selector-button:hover {
  cursor: pointer;
  color: dodgerblue;
  border: 2px solid rgb(86, 86, 86);
  border-radius: 3px;
}